$color1:#0e0d0d;
$color2:#c0d173;
$color3:rgb(148, 147, 106);
$color4: #123a68; 
$color5: rgb(85, 60, 7);
$color6:rgb(82, 80, 80) ;
$color7: #185c30;
$tapiz:linear-gradient( rgb(65, 65, 60),rgb(161, 160, 105));

$fuentePrinc:'Roboto', sans-serif;
$fuenteSecund:'Dancing Script', cursive;